/* By Lark VCR. "In construction" */

body {
  /* margin: 50px 50px 50px 7%; */
  /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  line-height: 1.7;
  padding: 1em 1em;
  color: #161616;
  /* background-color: #F7F7F7; */
  background-image: radial-gradient(circle, #f7f7f7, #d4d6d1);
  max-width: 1000px;
  margin: 10px auto;
}

#bgCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -2;
}

#canvasDiv {
  padding: 0;
  background-image: url(assets/backgrounds/backgroundGridGrey.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
}

p {
  line-height: 2em;
  /* padding: 10px; */
}

.canvas {
  margin-top: 100px;
  text-align: right;
  /*margin-top: 200px;
    background-color: #FFFFFF;
    border-style: dotted;
    border-width: 5px;
    border-color: #D2DB21 #8787C1 #00DA80 #D31996;*/
}

.marginTop {
  margin-top: 120px;
}

.marginBottom{
  margin-bottom: 120px;
}

.cell {
  padding: 15px 20px 40px 15px;
  background-color: #e0e1debb;
  /* background-color: #f7f7f733; */
  /* background-color: #bdbfbf88; */
  border-style: solid;
  border-width: 0px;
    box-shadow: 0px 0px 5px #8f9091;
  /* border-radius: 80px; */
  border-color: #8f9091;

}

.textCell p {
padding: 20px;
}


.hoverBlack:hover, .blackText {
  background-color: #161616;
  color: #D2DB21;
}

span {
  padding: .5em 0;
}

.noHover {
    background-color: #e0e1debb;
    color: #161616;
}

.heading {
  background-color: #161616;
  color: #D2DB21;
}

.overlay {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  color: #161616;
}

.yellow {
  background: #D2DB21;
}


.pink {
  background: #D31996;
}


.purple {
  background: #9f44c9;
}

.green {
  background: #3ac952;
}

a {
  text-decoration: none;
  border-bottom: none;
}
a:hover {
  text-decoration: none;
}

.submit {
  font-size: 24px;
  background-color: #161616;
  padding: .5em;
  /* padding: .5em; */
  color: #D2DB21;
  /* text-align: center; */
  border: 3px solid #D2DB21;
}

.submit:hover {
  background-color: #D2DB21;
  padding: .5em;
  /* text-align: center; */
  /* border: 3px solid #D2DB21; */
  color: #212121;
}


.gallery img {
  width: 100%;
}

#onVr {
  top: 100px;
  left: -20px;
  max-width: 666px;
  background: #D31996;
}

/* #onVr img {
  max-width: 300px;
} */

#onAi {
  max-width: 666px;
  /* min-width: 400px; */
  left: -50px;
}

#onFemmebot {
  top: 33px;
  /* top: -200px;
  left: -200px; */
  max-width: 666px;
  min-width: 500px;
  background: #D31996;
}
